<section id="archive" class="archive">
	<div class="archive__wrapper">
		<div id="archive-filters-wrapper" class="archive__filter-wrapper">
			<div class="archive__filters">

				<form class="archive__filters--search" id="searchPosts">
					<div class="search-input-container">
						<label for="searchQuery" class="show-for-sr">Search Articles</label>
						<input type="text" id="searchQuery" placeholder="Search Title or Description">
					</div>
					<button type="submit" aria-label="Search Articles">
						{% include 'icons/search.svg.twig' %}
					</button>
				</form>

				<div class="archive__filters--taxonomies {{ hide_filter }}">

					<div class="archive__filters--taxonomies-filter filter-label">
						<div class="taxonomy-wrapper">
							<span>Filter By:</span>
						</div>
					</div>

					{% for taxonomy in taxonomies %}
						<button class="archive__filters--taxonomies-filter filter-button {{ taxonomy.hidden_class }}">
							<div class="taxonomy-wrapper">
								<p class="filter-button__text">
									{{ taxonomy.label }}:
									<span id="{{ taxonomy.slug }}-current">
									{% if taxonomy.slug == tax_query %}
										{{ term_label }}
									{% else %}
										(ALL)
									{% endif %}
								</span>
								</p>
							</div>
							<ul class="archive__filters--terms {{ taxonomy.slug }}-terms-list">
								<li class="term-item" data-tax="{{ taxonomy.slug }}" data-term="all">All</li>

								{% for term in taxonomy.terms %}
									<li class="term-item" data-tax="{{ taxonomy.slug }}" data-term="{{ term.slug }}">{{ term.label }}</li>
								{% endfor %}

							</ul>
						</button>
					{% endfor %}

				</div>
			</div>
		</div>
		<div class="archive__posts">
			<div class="archive__posts--wrapper">

				{% for post in posts %}
					{% set link = post.get_field('external_link') ? post.get_field('external_link') : post.link %}
					{% set associated_types = post.terms('content-type') %}
					{% set primary_type = post.get_field('primary_type') %}
					<article class="archive__posts--card card">
						<div class="card__wrapper">

							<a href="{{ link }}" class="card__image-link" data-url {{ post.post_type == 'resource' ? 'target="_blank" rel="noopener noreferrer"' }}>
								{% include 'shared/media.twig' with {
									source: post.thumbnail.src ?: '/wp-content/themes/bulb-app/src/assets/img/prod/general/blog-placeholder.jpg',
									alt: post.title,
									class: 'lazyload card__image',
									data_attr: 'data-img'
								}%}
							</a>

							<div class="card__meta">
								{% if primary_type or associated_types[0] %}
									<div class="item__category">
										<a href="{{ (primary_type) ? primary_type.link : associated_types[0].link }}"
										   class="item__category-link" data-category>
											{{ (primary_type) ? primary_type.name : associated_types[0].name }}
										</a>
									</div>
								{% endif %}
								<h3 data-title>{{ post.title }}</h3>
								<p data-date>{{ post.date }}</p>
							</div>
						</div>
						<a href="{{ link }}" class="btn btn--var-simple btn--size-normal btn--style-dark-primary" data-url {{ post.post_type == 'resource' ? 'target="_blank" rel="noopener noreferrer"' }}>
							<span class="btn__text">{{ post.post_type == 'resource' ? 'View Resource' : 'Read Article' }}</span>
							<span class="btn__icon">
								{% include 'icons/button-arrow.svg.twig' %}
							</span>
						</a>
					</article>
				{% endfor %}

			</div>
			<div class="archive__posts--button">
				{{ next_button }}
			</div>
		</div>
	</div>
</section>
